*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    line-height: 1.5;

}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

aside{
    background-color: #4e73df;
}

.text-style {
    font-size: 14px;
    font-family: Overpass, serif;
}

ul li{
    font-size: 14px;
    font-family: Overpass, serif;
}

.content{
    display: none;
}

.hide{
    display: none;
}
.show{
    display: block;
}


.container {
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
    #content {
        display: grid;
        grid-template-columns: 1fr;
    }
}


@media only screen and (min-width: 240px) and (max-width: 480px) {
    #header{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width: 240px) and (max-width: 480px) {
    #form{
        display: none;
    }
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
   #button-generate{
       display: none;
   }
}
@media only screen and (min-width: 240px) and (max-width: 480px) {
    #avatar{
        position: absolute;
        top: 8px;
        right: 0;
    }
}
@media only screen and (min-width: 240px) and (max-width: 480px) {
    #main-content{
        margin-right: 25px;
        margin-left: 25px;
    }
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
    #tables{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width: 240px) and (max-width: 480px) {
    #section{
        display: grid;
        grid-template-columns: 1fr;
    }
}


