*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

aside{
    background-color: #4e73df;
}

.text-style {
    font-size: 14px;
    font-family: Ubuntu;
}

ul li{
    font-size: 12px;
    font-family: Overpass;
}

.content{
    display: none;
}